# Created by https://www.toptal.com/developers/gitignore/api/osx
# Edit at https://www.toptal.com/developers/gitignore?templates=osx

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/osx

# Local diagnostic artifacts
logs/
.ipynb_checkpoints/

# Generated Folium compaction data artifacts
Day-2/Folium/data_files/
Day-2/Folium/csv_files/
Day-2/Folium/combined_site*.csv
Day-2/Folium/Texas_County_Boundaries_Detailed.geojson
Day-2/Folium/compaction_sites.csv
*.pyc
*.html
/Day-3/Morning/data
/Day-3/Morning/outputs
Day-3/Morning/semantic_bridge_NNA_StreamlinedV6_ClimateSetxMarch31.ipynb
Day-3/Morning/semantic_bridge_NNA_StreamlinedV6_Jan12.ipynb
/scripts
/Day-2/Morning/data
/Day-2/Morning/outputs
